body{
  overflow-x: hidden;
  margin: 0;
}
.router-link-active {
  font-weight: bold;
}
/* 主页面切换特效 Start */
.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active {
  transition: transform 220ms;
}

.slide-right-enter-from {
  transform: translateX(100%);
}

.slide-right-enter-to {
  transform: translateX(0);
}

.slide-right-leave-from {
  transform: translateX(0);
}

.slide-right-leave-to {
  transform: translateX(-100%);
}

.slide-left-enter-from {
  transform: translateX(-100%);
}

.slide-left-enter-to {
  transform: translateX(0);
}

.slide-left-leave-from {
  transform: translateX(0);
}

.slide-left-leave-to {
  transform: translateX(100%);
}
/* 主页面切换特效 END */
/* 子页面切换特效 Start */

.router-slide-left-enter-active,
.router-slide-left-leave-active,
.router-slide-right-enter-active,
.router-slide-right-leave-active {

  transition: transform 350ms;
}

.router-slide-right-enter-from {
  transform: translateX(100%)
}

.router-slide-right-enter-to,.b.router-slide-right-enter-to {
  transform: translateX(0)!important;
}

.router-slide-right-leave-from {
  transform: translateX(0);
}

.router-slide-right-leave-to {
  transform: translateX(-100%);
}

.router-slide-left-enter-from {
  transform: translateX(-100%);
}

.router-slide-left-enter-to {
  transform: translateX(0);
}

.router-slide-left-leave-from {
  transform: translateX(0);
}

.router-slide-left-leave-to {
  transform: translateX(100%);
}

.sub-layout.router-slide-right-enter-active,
.sub-layout.router-slide-left-leave-active{
  z-index: 1;
  box-shadow: -5px 0 10px rgba(0, 0, 0, 0.1); /* 左边阴影 */
  background: rgb(240, 242, 245);
}

.main-layout.router-slide-right-leave-to,
.main-layout.router-slide-left-enter-from{
  z-index: -1;
  transform: translateX(-60%);

}
/* 子页面切换特效 END */
